weather_fabric/pl_load_measure_lr_to_ld.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 2,
          "items": {
            "value": "@range(0, add(pipeline().parameters.p_load_days_no, 1))",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "a02c218e-7eba-ba7b-43f7-bb988e3c1502",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "p_load_dt": {
                    "value": {
                      "value": "@pipeline().parameters.p_load_dt",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "p_load_days_no": {
                    "value": {
                      "value": "@item()",
                      "type": "Expression"
                    },
                    "type": "int"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "nb_load_measure_lr_to_ld",
              "dependsOn": []
            }
          ]
        },
        "name": "For each data load for each day",
        "dependsOn": []
      },
      {
        "type": "Wait",
        "typeProperties": {
          "waitTimeInSeconds": 5
        },
        "name": "Wait 5s",
        "dependsOn": [
          {
            "activity": "For each data load for each day",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "d1003514-5b64-4b1d-8147-18fe0a274d44",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "p_target_language_cd": {
              "value": "en",
              "type": "string"
            },
            "p_table_nm": {
              "value": "ld_weather_measure",
              "type": "string"
            },
            "p_column_nm": {
              "value": "country",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Translate country names",
        "dependsOn": [
          {
            "activity": "Wait 5s",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "p_load_dt": {
        "type": "string"
      },
      "p_load_days_no": {
        "type": "int",
        "defaultValue": 0
      }
    }
  }
}