weather_fabric/Pipeline/flow/superflow/pl_load_full.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "d6533c2a-9fb9-8898-43e0-c264cffd9640",
            "type": "PipelineReference"
          },
          "parameters": {
            "p_load_dt": {
              "value": "@pipeline().parameters.p_load_dt",
              "type": "Expression"
            },
            "p_history_load_days_no": {
              "value": "@pipeline().parameters.p_history_load_days_no",
              "type": "Expression"
            },
            "p_forecast_load_days_no": {
              "value": "@pipeline().parameters.p_forecast_load_days_no",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "Load all weather data src to ld",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "48a7c5a2-5db8-ad86-4165-b553677f98c3",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "weather_report_flag": {
              "value": "1",
              "type": "int"
            },
            "dq_report_flag": {
              "value": "1",
              "type": "int"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "nb_semantic_model_refresh",
        "dependsOn": [
          {
            "activity": "dbt_dq_run",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "df07a778-a600-4e07-a789-05eb0bc82088",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "p_dbt_param": {
              "value": "--exclude \"040_dq\"",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "dbt_run",
        "dependsOn": [
          {
            "activity": "Load all weather data src to ld",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "df07a778-a600-4e07-a789-05eb0bc82088",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "p_dbt_param": {
              "value": "--model \"040_dq\"",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "dbt_dq_run",
        "dependsOn": [
          {
            "activity": "dbt_run",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Fail",
        "typeProperties": {
          "message": "Something went wrong",
          "errorCode": "500"
        },
        "name": "Fail",
        "dependsOn": [
          {
            "activity": "nb_semantic_model_refresh",
            "dependencyConditions": [
              "Skipped",
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "v_load_success_flg",
          "value": {
            "value": "@if(equals(activity('nb_semantic_model_refresh').Status, 'Succeeded'), 1, 0)",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set success_flg",
        "dependsOn": [
          {
            "activity": "nb_semantic_model_refresh",
            "dependencyConditions": [
              "Completed",
              "Skipped"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "526b3a57-4e71-aa52-4787-88781919b008",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "p_load_success_flg": {
              "value": {
                "value": "@variables('v_load_success_flg')\n",
                "type": "Expression"
              },
              "type": "bool"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "nb_email_send",
        "dependsOn": [
          {
            "activity": "Set success_flg",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "p_load_dt": {
        "type": "string"
      },
      "p_history_load_days_no": {
        "type": "int",
        "defaultValue": 0
      },
      "p_forecast_load_days_no": {
        "type": "int",
        "defaultValue": 4
      }
    },
    "variables": {
      "v_load_success_flg": {
        "type": "Integer"
      }
    }
  }
}