weather_fabric/Pipeline/job/pl_load_city.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "fileName": "load_config.csv"
              },
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "escapeChar": "\\",
              "firstRowAsHeader": true
            },
            "schema": [],
            "linkedService": {
              "name": "lh_weather",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "ef5f971a-7c86-4087-8d12-b608991996a0",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup counties to load",
        "dependsOn": []
      },
      {
        "type": "Filter",
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup counties to load').output.value",
            "type": "Expression"
          },
          "condition": {
            "value": "@equals(item().is_active,'1')",
            "type": "Expression"
          }
        },
        "name": "Filter cities",
        "dependsOn": [
          {
            "activity": "Lookup counties to load",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "422a8736-64f2-4c88-b2e6-ef046e3344d4",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "p_schema_nm": {
              "value": "dbo",
              "type": "string"
            },
            "p_table_to_delete_nm": {
              "value": "city",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Delete city table if exists",
        "dependsOn": [
          {
            "activity": "Filter cities",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Filter cities').output.value\n",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "16941667-4ad2-4c86-b342-c4521285d52e",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "p_county_nm": {
                    "value": {
                      "value": "@item().county",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "nb_load_city",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach load city",
        "dependsOn": [
          {
            "activity": "Delete city table if exists",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}